@tailwind base;
@tailwind components;
@tailwind utilities;

.line.foldable {
    @apply hidden;
}

html:not([data-nextra-word-wrap]) .line.add-dots-before::before {
    @apply text-gray-300;
    @apply dark:text-gray-600;
    counter-reset: num-lines-before var(--num-lines-before);
    content: "... (" counter(num-lines-before) " lines)";
    display: block;
}

html:not([data-nextra-word-wrap]) .line.add-dots-after::after {
    @apply text-gray-300;
    @apply dark:text-gray-600;
    counter-reset: num-lines-after var(--num-lines-after);
    content: "... (" counter(num-lines-after) " lines)";
    display: block;
}

/* 
Temporary hack to fix the nextra (theme-switch) menu's 1px border causing the
side bar to be 1px scrollable when scrolling the main article area
*/
.nx-sticky.nx-bottom-0.nx-border-t {
    height: var(--nextra-menu-height)
}
